/* oldsheet */
.fancy-toggle-button .remove
{
    background-image: none;
    background-position: 0px 0px !important;
    background-repeat: repeat;
}
.RESshortcutside:hover
{
    background-color: #000000;
}
.fancy-toggle-button .active
{
    border: 1px solid #444;
    padding: 1px 6px;
    background: transparent;
    color: white;
    font-size: 10px;
    font-weight: bold;
    line-height: 20px;
    border-radius: 3px;
}
.RESshortcutside.remove
{
    background-image: none !important;
}
.fancy-toggle-button .active:hover
{
   background-color: #000000;
}
.RESshortcutside:hover
{
   background-color: #000000;
}
.RESshortcutside.remove
{
   background-image: none;
}
.RESshortcutside
{
    margin-right: 5px;
    margin-top: 2px;
    color: white;
    background-image: none;
    cursor: pointer;
    text-align: center;
    width: 68px;
    font-weight: bold;
    font-size: 10px;
    border: 1px solid #444;
    padding: 1px 6px;
}
/*
.RESUserTagImage
{
    float: none !important;
    display: inline-block !important;
    width: 13px !important;
    height: 14px !important;
    background-image: url(%%restag%%) !important;
    background-repeat: no-repeat !important;
    background-position: 0px 0px !important;
}
*/
div.noncollapsed
{
    background-color: transparent
}
.res-commentBoxes .comment div.child
{
    border-left: none;
    background-color: transparent !important;
}
.comment.spam>.child,
.message.spam>.child
{
    background-color: transparent !important;
}
/*commented out msg box shu did I like it so I left the code in I am a dirty dirty script kitty -Gnome */
/*.arrow.down:hover:after
{
    position:absolute;
    margin-left: 30px;
    font-size: x-small;
    width: 150px;
    display:block;
    z-index:1000;
    padding:5px;
    background-color:#141414;
    border:1px solid #474747;
    content:"Doesn't contribute to discussion.";
    -moz-box-shadow: 0px 0px 3px #000;
    -webkit-box-shadow: 0px 0px 3px #000;
    box-shadow: 0px 0px 3px #000;
}
*/
.NERPageMarker
{
    background-color: transparent !important;
    border: none !important;
}
.usertext.border .usertext-body
{
    border: 1px solid #9f9270 !important;
    border-radius: 3px;
    background-color: transparent !important;
    background: url(%%bg-content%%);
    padding-left: 5px;
    margin-top: 2px;
}
div.thing.comment
{
    background-color: transparent !important;
}
.infobar
{
    background-color: rgb(32,31,28);
    padding: 5px 10px;
    margin: 5px 305px 5px 0px;
    border: 1px solid orange;
    font-size: small;
    opacity: 0.7;
}
a.voteWeight
{
    background-color: transparent !important;
    margin-right: 7px;
    color: #9f9270!important;
}
p.tagline
{
    margin-top: 10px;
    margin-bottom: 10px;
}
a,
#sr-header-area .drop-choices.srdrop a,
.dropdown.srdrop .selected
{
    color: #337f91;
    text-shadow: 1px 1px 1px #000;
}
a:hover,
#sr-header-area .drop-choices.srdrop a:hover,
.dropdown.srdrop .selected:hover
{
    color: #3d9cb2;
    text-shadow: 1px 1px 1px #000;
}
.comment .midcol
{
    width: 15px;
    margin-right: 15px;
}
.linefield
{
    width: 514px;
    padding: 7px 5px;
    font-size: large;
    background-color: transparent;
    margin-bottom: 10px;
}
.linefield .title
{
    color: #e5d5ac;
}
.tabpane-content
{
    border: none;
    padding: 4px 4px 4px 4px;
}
element.style
{
    display: inline;
    background-color: transparent;
}
div#header div#header-bottom-right div#userbarToggle
{
    z-index: 3 !important;
    min-height: 20px !important;
    position: absolute !important;
    top: 0px !important;
    left: -5px !important;
    width: 16px !important;
    padding-right: 0px !important;
    border-radius: 0px !important;
    height: 10px !important;
    font-size: 13px !important;
    color: #215e6b !important;
    display: inline !important;
    background-image: none !important;
    background-color: transparent !important;
    border: none !important;
    text-align: right !important;
    line-height: 24px !important;
}
div#header div#sr-header-bar #sr-more-link
{
    color: #9f9270;
    background-color: transparent;
    position: absolute;
    right: 0;
    top: 24px;
    padding: 0 5px 0 15px;
    font-weight: bold;
    margin: 0;
}
div#header div#header-bottom-right
{
    position: absolute !important;
    top: 200px !important;
    right: 20px !important;
    z-index: 0 !important;
    height: 16px !important;
    color: #9f9270 !important;
    background-color: transparent;
}
div#header d#header-bottom-right a
{
    color: #9f9270 !important;
}
div#header div#header-bottom-right a:hover
{
    color: #eddfbc !important;
}
div.sidebox.create
{
    display:none;
}
div.sidebox.submit .morelink
{
    display: block;
    float: right;
    position: absolute;
    top: 20px;
    border: none;
    content:"Submit a Post";
    background-position: 0px;
    background-image: url(%%submitpost%%);
    height: 38px;
    width: 275px;
}
div.sidebox.submit .morelink:hover
{
    display: block;
    float: right;
    position: absolute;
    top: 20px;
    border: none;
    content:"Submit a Post";
    background-position: 0px;
    background-image: url(%%submitposth%%);
    height: 38px;
    width: 275px;
}
div.sidebox.submit .morelink a{
    color: #999474;
    content:"Submit a Post";
    text-shadow: 1px 1px 1px #000;
    margin-top: 4px;
}
div.sidebox.submit .morelink a:hover
{
    margin-top: 4px;
    content:"Submit a Post";
    color: #c6c19e;
}
div.side div.sidebox.submit .spacer a,
div.side div.sidebox .subtitle,
div.side div.sidebox .spacer
{
    display: none;
}
div#header div#header-bottom-left div#header-img.default-header
{
    display: none;
}
div.entry
{
    display: block;
    left: 0px;
    bottom: 3px;
    background: transparent;
    outline: none;
    margin-top: 0px;
}
span.domain,
span.domain a,
ul.flat-list.buttons,
ul.flat-list.buttons a
{
    color: #9f9270;
}
span.domain:hover,
span.domain a:hover,
ul.flat-list.buttons:hover,
ul.flat-list.buttons a:hover
{
    color: #e5d5ac;
    text-decoration: none;
}
.usertext-edit textarea,
textarea,
.roundfield textarea,
.roundfield input[type="text"],
.roundfield input[type="url"],
.roundfield input[type="password"],
.roundfield input[type="number"],
.gold-form .roundfield
{
    color: #9f9270;
    background: url(%%bg-main%%);
    background-color: #0e0e0e;
    border: 1px solid #9f9270 !important;
    border-radius: 3px;
}
div.side form#search input[type="text"]
{
    background: url(%%rightmenurepeat%%) no-repeat center center;
    border: none;
    margin-top: 80px;
    padding-left: 3px;
    color: #9f9270;
    font-size: 16px;
    width: 263px;
    padding: 4px;
    border: 1px solid #9f9270;
    border-radius: 3px;
}
div#header div#sr-header-area .dropdown.srdrop
{
    color: #9f9270;
    float: left;
    padding: 3px;
    margin-left: 5px;
}
div#header div#sr-header-area .drop-choices.srdrop
{
    background: url(%%bg-main%%);
    border: 1px solid #9f9270;
}
.drop-choices a.choice:hover
{
    background-color: #000
}
.infobar
{
    border: none
}
div.linkinfo
{
    padding: 5px;
    border: 1px solid #1e1e1e;
    background-color: transparent;
    font-family: arial, helvetica, sans-serif;
    font-size: larger;
    border-radius: 3px;
}
div.linkinfo .shortlink input
{
    margin-top: 3px;
    width: 160px;
    padding-left: 13px;
    margin-left: 5px;
    margin-right: 0px;
    border: 1px solid #1e1e1e;
    color: #337f91;
    background-color: transparent;
    border-radius: 2px;
}
.thumbnail.self,
.thumbnail.default
{
    display: none !important;
    height: 50px;
    background-image: url(%%tesoreddit70%%);
    background-position: 0px 0px;
    background-repeat: no-repeat;
}
.midcol
{
    display: block;
    position: relative;
    float: left;
    padding-right: 3px;
    margin-right: 3px;
    margin-left: 0px;
    background: transparent;
    overflow: visible;
}
#siteTable .thing,
#siteTable .thing .comment
{
    display: block;
    height: auto;
    padding: 8px;
    border: 1px solid #1e1e1e;
    border-radius: 0px;
    background: url(%%bg-content%%) repeat left center;
    background-color: transparent;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 330px;
}
/* Not working commenting out */
/* #siteTable .thing.linkflair-modpost
{
    color:#9f9270;
    font-size:18px;
    background-color:#193D3D;
    border:1px solid #474747;
    opacity:0.7
}
*/
div.thing.comment
{
    -moz-border-radius: 3px !important;
    -webkit-border-radius: 3px !important;
    border-radius: 3px !important;
    margin-left: 10px !important;
    margin-right: 0px;
    margin-top: 0px!important;
    margin-bottom: 8px!important;
    border: 1px solid #1e1e1e!important;
    padding-left: 5px!important;
    padding-top: 5px!important;
    padding-right: 0px;
    padding-bottom: 0px!important;
    overflow: hidden;
}
.thing .title
{
    color: #337f91
}
.thing .title.loggedin 
{
    font-family:"Trajan Pro"; font-weight: bold; color: #9f9270;
}
.thing .title.loggedin:hover
{
    color: #cebb8b; text-decoration: none
}
.thing .title.loggedin.click
{
    color: #cebb8b
}
.thing .title.click
{
    color: #a3a3a3
}
.thing .title.loggedin.click:visited
{
    color: #337f91
}
.thing .title.loggedin:visited
{
    color: #337f91
}
a.title.loggedin.click
{
    color: #cebb8b
}
a.title.loggedin.imgScanned.click
{
    color: #9f9270
}
a.title.loggedin.imgScanned.click:hover
{
    color: #3e92a6
}
.side
{
    position: relative;
    display: inline;
    margin-top: -20px;
    margin-left: 0px;
    padding-left: 30px;
    padding-right: 5px;
    width: 280px;
    background: url(%%rightmenurepeat%%) ;
    background-repeat: repeat-y;
    background-position: left;
    float: right;
}
ul.flat-list.buttons,
p.tagline,
p.title,
div.midcol.likes
{
    display: block;
}
.leavemoderator,
.titlebox form.flairtoggle
{
    background: transparent
}
textarea#stylesheet_contents
{
    position: relative;
    display: inline;
    background: url(%%bg-main%%) no-repeat;
    background-color: black;
    color: #9f9270;
    border-radius: 5px;
}
#sr-header-area
{
    background: url(%%top-reddit%%) repeat-x;
    background-color: #F0F0F0;
    white-space: nowrap;
    text-transform: uppercase;
    border: none;
    color: #9f9270;
    font-size: 90%;
    height: 25px;
    line-height: 18px;
}
.sr-bar a,
.separator
{
    color: #9f9270;
    position: relative;
    top: 3px;
}
.sr-bar a:hover
{
    color: #e5d5ac;
    text-decoration: underline;
}
.link .usertext .md
{
    padding: 0 10px;
    background: url(%%bgdark%%);
    border: 1px solid #222222;
    border-radius: 4px;
}
.link .score
{
    text-align: center;
}
button .btn
{
    left: 50px;
}
button
{
    height: auto;
    padding: 8px;
    color: #9f9270;
    border: 1px solid #1e1e1e;
    border-radius: 0px;
    background: url(%%bg-content%%) repeat left center;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    text-align: center !important;
    cursor: default !important;
    padding: 2px 6px 3px !important;
    border: 1px solid #1e1e1e !important;
    border-radius: 3px;
}
button:hover
{
    color: #337f91;
}
#srList tr:hover
{
    background-color: #111111;
}
.drop-choices.lightdrop
{
    background-color: #1e1e1e !important;
}
#srList
{
    background-color: #1e1e1e !important;
    color: #337f91;
}
.RESSubscriptionButton
{
    border: none !important;
    color: #9f9270 !important;
}
.RESSubscriptionButton:hover
{
    background-color: transparent !important;
    color: #337f91 !important;
}
a.author,
.comment .expand
{
    color: #337f91
}
.comment .expand:hover
{
    text-decoration: none;
    color: white;
    background-color: transparent;
}
p,
b,
span,
pre,
div
{
    color: #9f9270
}
.icon-menu a
{
    margin: 5px 0;
    background: transparent;
}
h1.redditname
{
    display: none; position: absolute
}
.titlebox
{
    font-size: larger
}
div.titlebox span.word
{
    display: none
}  
span.subscribers:after
{
    content: " Adventurers Like You"
}
.users-online span.number:after
{
    content: " Adventurers Online"
}
.redditname a
{
    background:url(%%tesologo%%);
    height: 83px;
    width: 351px;
    margin-top: 136px;
    margin-left: 48px;
    margin-bottom: 10px;
    z-index: 2;
}
.redditname a
{
    text-indent:-9001px;
}
.redditname a
{
    float: left;
    z-index: 1;
    position: absolute;
    left: 0px;
}
#header-img-a,
#header-bottom-left .tabmenu
{
    width: 50px;
    display: inline;
    float: left;
}
#sr-header-area .drop-choices.srdrop a:hover
{
    color: #3d9cb2
}
.tabmenu li.selected a
{
    color: #999474; text-shadow: 1px 1px 1px #000
}
.tabmenu li.selected a:hover
{
    color: #c6c19e; text-shadow: 1px 1px 1px #000
}
.tabmenu a
{
    color: #337f91;
    font-size: large;
    font-family:"Trajan Pro";
    text-shadow: 1px 1px 1px #000;
}
.tabmenu a:hover
{
    color: #3d9cb2
}
#header-bottom-left .tabmenu
{
    float: left;
    position: absolute;
    left: 400px;
    top:100%;
    margin-top: -35px!important;}
.tabmenu li a
{
    padding: 2px 6px 0 6px;
    background: transparent;
}
.tabmenu li.selected 
{
    background: transparent;
    display: inline;
    border: none;
    border-bottom: none;
    z-index: 100;
}
/* Submit Post CSS */
.content.submit .info-notice
{
    background-color: transparent
}
.roundfield
{
    width: 500px;
    background-color: #000;
    background: url(%%bg-content%%);
    border: 1px solid #1e1e1e !important;
    border-radius: 4px;
    padding: 5px 10px 10px 10px;
    font-size: large;
}
.formtabs-content
{
    width: 520px;
    border-top: 4px solid #1e1e1e;
    padding-top: 10px;
}
.tabmenu.formtab .selected a
{
    color: white;
    font-size: 130%;
    background-color: #1e1e1e;
    border: none;
}
.tabmenu.formtab a
{
    font-weight: normal;
    outline: none;
    padding: 0px 12px;
    vertical-align: bottom;
    border: 1px solid #1e1e1e;
    border-bottom: none;
}
/* Reddit Enhancement Suite - FUCK DIS SHIT */
.RESDialogSmall > h3
{
    background-color: #000;
    color: #9f9270 !important;
    font-size: 14px !important;
    margin-top: 6px !important;
    margin-bottom: 10px !important;
    font-weight: normal !important;
    position: absolute !important;
    top: -5px !important;
    left: 0px !important;
    right: 0px !important;
    background-color: transparent !important;
    border-bottom: 1px solid #1e1e1e !important;
    width: auto !important;
    z-index: 10 !important;
    height: 28px !important;
    padding-left: 10px !important;
    padding-top: 12px !important;
}
.RESDialogSmall
{
    background-color: transparent !important;
    background: url(%%bg-content%%);
    border: 1px solid #1e1e1e !important;
    border-radius: 3px !important;
    -moz-border-radius: 3px !important;
    -webkit-border-radius: 3px !important;
    font-size: 12px !important;
    color: #9f9270 !important;
    position: relative !important;
}
.RESShortcutsCurrentSub:visited
{
    color: #e5d5ac!important;
    font-weight: bold;
}
/*Flairs */
.side .flairselector
{
    left: auto!important; right: 400px;
}
.flair
{
    border: none !important;
    padding: 2px;
    background: url(%%spritesheet%%) no-repeat;
    display:inline-block;
    text-indent: 35px;
    vertical-align: text-top;
    overflow: hidden;
}
/*Move submission text to top of page*/
.submit-page .formtabs-content .spacer:first-child
{
    margin-top: 10px;
}
.submit_text.roundfield
{
    position: absolute;
    top: 120px;
}
/*Hover over downvote msg */
.arrow.down:hover:before
{
    position:fixed;
    display:block;
    z-index:1000;
    padding:6px 10px;
    content:"Do not downvote to indicate disagreement";
    text-align:center;
    bottom:0;
    width:100%;
    left:0;
    color:white;
    font-size:18px;
    background-color:#193D3D;
    border:1px solid #474747;
    opacity:0.7
}
.arrow.down:hover:after
{
  position:fixed;
    display:block;
    z-index:1000;padding:6px 10px;
    content:"Do not downvote to indicate disagreement";
    text-align:center;
    bottom:0;
    width:100%;
    left:0;
    color:#9f9270;
    font-size:18px;
    background-color:#193D3D;
    border:1px solid #474747;
    opacity:0.7
}
/*Please subscibe MSG*/
.option.active.add:before
{
  position:fixed;
    display:block;
    z-index:1000;
    padding:6px 10px;
    content:"Subscribe to /r/ElderScrollsOnline and help the ESO community grow on Reddit.";
    text-align:center;
    bottom:0;
    width:100%;
    left:0;
    color:#9f9270;
    font-size:18px;
    background-color:#193D3D;
    border:1px solid #474747;
    opacity:0.7
}
/* link flair changes */
.linkflair-modpost .linkflairlabel
{
    background-color: #e7e16e;
    color: #0e3de1;
    font-size: 10px;
    font-weight: bold;
    border-color: #0e3de1;
    border-width: 1px;
    border-radius: 3px;
    width: auto !important;
    max-width: 70em !important;
   
}
/* Deleted messages less noticeable taken from /r/games */
.deleted .grayed,
.deleted > .entry .expand,
.deleted > .entry .tagline
{
	display: none;
}
.deleted > .entry .noncollapsed:after
{
	content: 'comment removed/deleted';
	opacity: .25;
	color: #9f9270;
}
