div.content /* RES */
{
    div.thing
    {
        div.entry.RES-keyNav-activeElement
        {
            background:
            {
                image: $RES-Overlay;
            }
        }
        &.comment
        {
            div.noncollapsed
            {
                form.usertext
                {
                    div.usertext-body
                    {
                        div.md
                        {
                            background:
                            {
                                image: $RES-Overlay;
                            }
                        }
                        background:
                        {
                            image: $RES-Overlay;
                        }
                    }
                    background:
                    {
                        image: $RES-Overlay;
                    }
                    @import "RES/preview";
                }
                background:
                {
                    image: $RES-Overlay;
                }
            }
        }
    }
}
