div.side /* sidebar */
{
    background:
    {
        color: transparent;
        image: $sidebar;
    }
    position: relative;
    right: 5px;
    width: 300px;
    padding:
    {
        right: 5px;
        left: 15px;
    }
    div.spacer
    {
        @import "sidebar/create";
        @import "sidebar/search";
        @import "sidebar/linkinfo";
        @import "sidebar/titlebox";
        @import "sidebar/moderators";
        @import "sidebar/etc";
    }
}
