div.usertext-edit /* RES/preview */
{
    div.RESDialogSmall.livePreview
    {
        background:
        {
            color: transparent;
        }
        h3
        {
            background:
            {
                color: transparent;
            }
            color: $white;
        }
        div.md.RESDialogContents
        {
            p
            {
                color: $yellow;
            }
        }
    }
}
