div.md /* global/formatting */
{
    a
    {
        color: $blue;
        font:
        {
            family: $sans-serif-set;
        }
        &:hover
        {
            text-decoration: underline;
        }
        &:visited
        {
            color: lighten($blue, 15%);
        }
    }
    h1
    {
        color: $yellow;
        font:
        {
            family: $sans-serif-set;
            size: 18px;
            weight: 700;
        }
    }
    h2
    {
        color: $yellow;
        font:
        {
            family: $sans-serif-set;
            size: 17px;
            weight: 700;
        }
    }
    h3
    {
        color: $yellow;
        font:
        {
            family: $sans-serif-set;
            size: 16px;
            weight: 600;
        }
    }
    h4
    {
        color: $yellow;
        font:
        {
            family: $sans-serif-set;
            size: 15px;
            weight: 600;
        }
    }
    h5
    {
        color: $yellow;
        font:
        {
            family: $sans-serif-set;
            size: 14px;
            weight: 500;
        }
    }
    h6
    {
        color: $yellow;
        font:
        {
            family: $sans-serif-set;
            size: 13px;
            weight: 500;
        }
    }
    p
    {
        color: $yellow;
        font:
        {
            family: $sans-serif-set;
            size: 12px;
        }
    }
    table
    {
        thead
        {
            tr
            {
                th
                {
                    border:
                    {
                        color: $yellow;
                        style: solid;
                        width: 2px;
                    }
                    color: $yellow;
                    &:first-child
                    {
                        border-top-left-radius: 5px;
                        border-bottom-left-radius:5px;
                    }
                    &:last-child
                    {
                        border-top-right-radius: 5px;
                        border-bottom-right-radius: 5px;
                    }
                }
            }
        }
        tbody
        {
            tr
            {
                td
                {
                    border:
                    {
                        color: $yellow;
                        style: solid;
                        width: 1px;
                    }
                    color: $yellow;
                }
                &:first-child
                {
                    td:first-child
                    {
                        border-top-left-radius: 5px;
                    }
                    td:last-child
                    {
                        border-top-right-radius: 5px;
                    }
                }
                &:last-child
                {
                    td:first-child
                    {
                        border-bottom-left-radius: 5px;
                    }
                    td:last-child
                    {
                        border-bottom-right-radius: 5px;
                    }
                }
            }
        }
    }
}
