/* etc/wiki/formatting */
body.wiki-page
  div.wiki-page-content
    div.md.wiki
      h1
        color: $yellow !important
        font:
          size: 18px !important
      h2
        color: $yellow !important
        font:
          size: 17px !important
      h3
        color: $yellow !important
        font:
          size: 16px !important
      h4
        color: $yellow !important
        font:
          size: 15px !important
      h5
        color: $yellow !important
        font:
          size: 14px !important
      h6
        color: $yellow !important
        font:
          size: 13px !important
