/* === /r/elderscrollsonline ===
 * Written by subreddit mods, refined by /u/myrrlyn and /u/numinit
 * Built <%= $build[:time] %> from Git revision <%= $build[:hash][0..7] %>:<%= $build[:branch] %>
 * Source available on GitHub
 */
@import "variables";
html
{
    position: relative !important;
}
body
{
    background:
    {
        attachment: fixed;
        image: $background;
        position: center top;
    }
    @import "global";
}
@import "header";
@import "sidebar";
@import "content";
@import "etc";
@import "RES";
