span.flair /* etc/flair */
{
    background:
    {
        color: transparent;
        image: $FlairSheet;
    }
    border:
    {
        radius: 0;
        style: none;
    }
    display: inline-block;
    height: 20px;
    width: 36px;
    margin: 2px;
    padding: 0;
    text:
    {
        indent: -9999px;
    }
}
@import "etc/flair/user";
@import "etc/flair/specific";
