span.subscribe-button /* sidebar/titlebox/controls */
{
    border:
    {
        color: $yellow;
        radius: 0;
        style: solid;
        width: 1px;
    }
    a.option
    {
        color: $yellow;
        &.add
        {
            background:
            {
                color: $green;
                image: none;
            }
        }
        &.remove
        {
            background:
            {
                color: $red;
                image: none;
            }
        }
    }
}
