div#sr-header-area /* header/topbar */
{
    background:
    {
        color: transparent;
        image: $subbar;
    }
    border:
    {
        bottom: 1px solid $yellow;
    }
    color: $yellow;
    font:
    {
        family: $serif-set;
        size: 110%;
    }
    div.sr-list
    {
        ul.flat-list
        {
            li
            {
                a
                {
                    color: $yellow;
                    font:
                    {
                        family: $serif-set;
                    }
                }
            }
        }
    }
    div#srLeftContainer.sr-bar
    {
        background:
        {
            color: transparent;
        }
        div#RESStaticShortcuts
        {
            a.subbarlink
            {
                color: $yellow;
            }
        }
    }
    a#sr-more-link
    {
        background:
        {
            color: transparent;
            image: $subbar;
        }
        color: $yellow;
    }
    div#RESShortcutsEditContainer
    {
        background:
        {
            color: transparent;
        }
        div#RESShortcutsSort,
        div#RESShortcutsAdd,
        div#RESShortcutsTrash,
        div#RESShortcutsLeft,
        div#RESShortcutsRight
        {
            background:
            {
                color: transparent;
            }
            color: $yellow;
        }
    }
}
