div#header-bottom-right,
div#header-bottom-right.res-navTop /* header/userbar */
{
    background:
    {
        color: transparent;
    }
    position: absolute;
    top: 198px;
    right: 10px;
    bottom: 10px;
    div#userbarToggle.userbarHide,
    div#userbarToggle.userbarShow
    {
        background:
        {
            color: transparent;
        }
        border:
        {
            radius: 0px;
            style: none;
        }
        color: $yellow;
        span, a
        {
            color: $yellow;
            font:
            {
                family: $sans-serif-set;
                size: 14px;
            }
        }
    }
}
