/* etc/flar/specific */
/* Zenimax Online Studio users */
a.author[href*="/u/ZOS_GinaBruno"],
a.author[href*="/u/ZOS_JessicaFolsom"]
{
    &:after
    {
        content: url(%%transZeniMAX%%);
    }
}
/* Known Troll Usernames */
a.author[href$="/Oregen"]
{
    font-size: 0;
    &:before
    {
        color: #F00;
        content: "HURR DURR I'M A TROLL";
        font:
        {
            size: 9pt !important;
        }
    }
}
