/* etc/flair/user */
span.flair-aldmeri /* Aldmeri Dominion */
{
    background-position: 0 0;
}
span.flair-summerset /* AD - Summerset Isles */
{
    background-position: 0 -20px;
}
span.flair-valenwood /* AD - Valenwood */
{
    background-position: 0 -40px;
}
span.flair-elsweyr /* AD - Elsweyr */
{
    background-position: 0 -60px;
}
span.flair-daggerfall /* Daggerfall Covenant */
{
    background-position: -36px 0;
}
span.flair-highrock /* DC - High Rock */
{
    background-position: -36px -20px;
}
span.flair-hammerfell /* DC - Hammerfell */
{
    background-position: -36px -40px;
}
span.flair-orsinium /* DC - Orsinium */
{
    background-position: -36px -60px;
}
span.flair-ebonheart /* Ebonheart Pact */
{
    background-position: -72px 0;
}
span.flair-skyrim /* EP - Skyrim */
{
    background-position: -72px -20px;
}
span.flair-morrowind /* EP - Morrowind */
{
    background-position: -72px -40px;
}
span.flair-argonia /* EP - Argonia */
{
    background-position: -72px -60px;
}
