div.sidebox.submit /* sidebar/create */
{
    div.morelink
    {
        background:
        {
            color: transparent;
            image: url(%%submit%%);
            position: 0 0;
        }
        border:
        {
            style: none;
        }
        height: 40px;
        width: 280px;
        &:hover
        {
            background:
            {
                position: 0 40px;
            }
        }
        a
        {
            color: $yellow;
            margin:
            {
                top: 5px;
                bottom: -5px;
            }
        }
        div.nub
        {
            display: none;
        }
    }
}
