ul.tabmenu /* header/banner/tabmenu */
{
    position: absolute;
    top: 193px;
    li
    {
        a
        {
            background:
            {
                color: transparent;
            }
            color: $blue-2;
            font:
            {
                family: $serif-set;
                size: 20px;
            }
            &:hover
            {
                color: $blue;
            }
        }
        &.selected
        {
            a
            {
                border:
                {
                    style: none;
                }
                color: $beige;
            }
        }
    }
}