div.commentarea /* content/commentarea */
{
    div.thing.comment
    {
        div.thing.comment
        {
            div.thing.comment
            {
                div.thing.comment
                {
                    div.thing.comment
                    {
                        div.thing.comment
                        {
                            div.thing.comment
                            {
                                div.thing.comment
                                {
                                    div.thing.comment
                                    {
                                        div.thing.comment
                                        {
                                            background:
                                            {
                                                color: transparent !important;
                                            }
                                        }
                                        background:
                                        {
                                            color: transparent !important;
                                        }
                                    }
                                    background:
                                    {
                                        color: transparent !important;
                                    }
                                }
                                background:
                                {
                                    color: transparent !important;
                                }
                            }
                            background:
                            {
                                color: transparent !important;
                            }
                        }
                        background:
                        {
                            color: transparent !important;
                        }
                    }
                    background:
                    {
                        color: transparent !important;
                    }
                }
                background:
                {
                    color: transparent !important;
                }
            }
            background:
            {
                color: transparent !important;
            }
        }
        background:
        {
            color: transparent !important;
        }
        border:
        {
            color: $black;
            style: solid;
            width: 1px;
        }
        div.child
        {
            border:
            {
                left: none;
            }
        }
    }
}
