div.thing /* content/expandos */
{
    div.expando-button
    {
        background:
        {
            color: transparent;
            image: $expandos;
        }
        &.selftext
        {
            &.collapsed
            {
                background:
                {
                    position: -46px 0;
                }
                &:hover
                {
                    background:
                    {
                        position: -69px 0;
                    }
                }
            }
            &.expanded
            {
                background:
                {
                    position: -46px -23px;
                }
                &:hover
                {
                    background:
                    {
                        position: -69px -23px;
                    }
                }
            }
            &.image
            {
                &.collapsed
                {
                    background:
                    {
                        position: 0 0;
                    }
                }
                &.expanded
                {
                    background:
                    {
                        position: 0 -23px;
                    }
                }
            }
            &.video
            {
                &.collapsed
                {
                    background:
                    {
                        position: -23px 0;
                    }
                }
                &.expanded
                {
                    background:
                    {
                        position: -23px -23px;
                    }
                }
            }
        }
    }
}
