div.arrow /* content/vote */
{
    background:
    {
        image: $arrows !important;
    }
    height: 16px;
    width: 26px;
    &.up
    {
        background:
        {
            position: 0 0;
        }
    }
    &.upmod
    {
        background:
        {
            position: -20px 0;
        }
    }
    &.down
    {
        background:
        {
            position: 0 -16px;
        }
    }
    &.downmod
    {
        background:
        {
            position: -20px -16px;
        }
    }
}
